Adafruit-DHT
bidict
blinker
click
dnspython
eventlet
Flask
Flask-SocketIO
greenlet
gunicorn
h11
itsdangerous
Jinja2
MarkupSafe
packaging
python-engineio
python-socketio
RPi.GPIO
schedule
simple-websocket
smbus2
Werkzeug
wsproto
