[Unit]
Description=Weather Station Sensors to InfluxDB
After=network.target influxdb.service

[Service]
Type=simple
User=weatherbox
Group=weatherbox
WorkingDirectory=/home/weatherbox/weatherstation
ExecStart=/home/weatherbox/weatherstation/.venv/bin/python /home/weatherbox/weatherstation/sensor_to_influx.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target